@model StudentModel

<div>
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
</div>
<div>
    <label asp-for="City">City</label>
    <input asp-for="City" />
</div>
<div>
    <label asp-for="State">State</label>
    <input asp-for="State" />
</div>