@model StudentModel

<h1>Add a new student info</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    @await Html.PartialAsync("_CreateOrUpdate",Model)

    <button type="submit">Submit</button>
</form> 